@model PessoaViewModel

<div class="mt-4">
    <h3>Cadastrar pessoa</h3>
    <div asp-validation-summary="All"></div>
    <form class="row g-3" id="form-action" role="form" onsubmit="event.preventDefault(); handleOnSubmit(this);">
        <div class="col-md-6">
            <label asp-for="pessoa.nome" class="form-label" asp-for="pessoa.nome">Nome</label>
            <input asp-for="pessoa.nome" type="text" class="form-control">
        </div>
        <div class="col-md-6">
            <label asp-for="pessoa.cpf" class="form-label">CPF</label>
            <input asp-for="pessoa.cpf" type="text" class="form-control">
        </div>
        <div class="col-md-6">
            <label asp-for="pessoa.endereco.logradouro" class="form-label">Logradouro</label>
            <input asp-for="pessoa.endereco.logradouro" type="text" class="form-control" placeholder="1234 Main St">
        </div>
        <div class="col-md-4">
            <label asp-for="pessoa.endereco.bairro" class="form-label">Bairro</label>
            <input asp-for="pessoa.endereco.bairro" type="text" class="form-control" placeholder="Qd. 34...">
        </div>
        <div class="col-md-2">
            <label asp-for="pessoa.endereco.numero" class="form-label">Numero</label>
            <input asp-for="pessoa.endereco.numero" type="text" class="form-control" placeholder="23">
        </div>
        <div class="col-md-6">
            <label asp-for="pessoa.endereco.cidade" class="form-label">Cidade</label>
            <input asp-for="pessoa.endereco.cidade" type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label asp-for="pessoa.endereco.estado" class="form-label">Estado</label>
            <input asp-for="pessoa.endereco.estado" class="form-control">
        </div>
        <div class="col-md-2">
            <label asp-for="pessoa.endereco.cep" class="form-label">CEP</label>
            <input asp-for="pessoa.endereco.cep" type="text" class="form-control">
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary fw-bold" id="form-button">Salvar</button>
        </div>
    </form>
</div>
